[submodule "MU_BASECORE"]
    path = MU_BASECORE
    url = https://github.com/microsoft/mu_basecore.git
    branch = release/202511
[submodule "Common/MU"]
    path = Common/MU
    url = https://github.com/microsoft/mu_plus.git
    branch = release/202511
[submodule "Feature/DEBUGGER"]
    path = Feature/DEBUGGER
    url = https://github.com/microsoft/mu_feature_debugger.git
    branch = main
